
<div id="Form_Display">
<h2>Create Your Visualization</h2>

<form>

  <div id="Color-Field">
    <h3>Pick Your Colors</h3>
    <div class="color-picker">
      <p>X Axis Color</p>
      <input id="X-Color" type="color" value="#ff0000" />
    </div>
    <div class="color-picker">
      <p>Y Axis Color</p>
      <input id="Y-Color" type="color" value="#00ff00" />
    </div>
    <div class="color-picker">
      <p>Z Axis Color</p>
      <input id="Z-Color" type="color" value="#0000ff"/>
    </div>
  </div>

  <div id="Shape-Field">
    <h3>Pick Your Shapes</h3>
    <div class="shape-picker">
      <p class="title">Choose Your number of Shapes</p>
      <span>1</span><input type="range" id="Shape-Count" value="10" min="1" max="30"><span>30</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your shapes size</p>
      <span>5</span><input type="range" id="Shape-Size" value="20" min="5" max="30"><span>30</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your X rot</p>
      <span>0</span><input type="range" id="X-Rotation" value="0.01" min="0.0" max="0.2" step="0.01"><span>0.2</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your Y rot</p>
      <span>0</span><input type="range" id="Y-Rotation" value="0.02" min="0.0" max="0.2" step="0.01"><span>0.2</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your Z rot</p>
      <span>0</span><input type="range" id="Z-Rotation" value="0.0" min="0.0" max="0.2" step="0.01"><span>0.2</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your X distance</p>
      <span>0</span><input type="range" id="X-Distance" value="20" min="0" max="100" step="1"><span>100</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your Y distance</p>
      <span>0</span><input type="range" id="Y-Distance" value="10" min="0" max="50" step="1"><span>50</span>
    </div>


    <div class="shape-picker">
      <p class="title">Choose your vertical jitter </p>
      <span>0</span><input type="range" id="Vert-Jitter" value="0.1" min="0.0" max="0.3" step="0.03"><span>0.3</span>
    </div>

    <div class="shape-picker">
      <p class="title">Choose your horizontal jitter </p>
      <span>0</span><input type="range" id="Horz-Jitter" value="0.01" min="0.0" max="0.09" step="0.001"><span>0.09</span>
    </div>

  </div>


</form>

  <div id="Submit">Submit</div>

</div>
